<template name="chat">
  {{> slideMenu}}
  <button type="button" id="btnRespNav" class="btn-navbar navbar-toggle slideout-menu-toggle pull-left" data-toggle="collapse" data-target="#login-navbar-collapse"><i class="fa fa-bars"></i>
  </button>
  <div class="text-center bg-berlin">
    <p class="hoodtitle">{{receiverdata.username}}</p><br>
  </div>
  <div class="container">
    {{userdataExists}}
    {{> messages }}
    {{> input }}
  </div>
</template>

<template name="messages">
  <br>
  {{#each messages}}
  <div class="bg-grey">
    <div class="row">
      <div class="col-xs-2">
        <img style="background-image:
               url('http://graph.facebook.com/{{sender}}/picture/?type=large');"  class="fb-image-small animated fadeIn">
      </div>
      <div class="col-xs-10">
        <strong>
          
          {{#if equals sender receiverdata.userId}}
            {{receiverdata.username}}
          {{else}}
            {{dataUser.username}}
          {{/if}}

        </strong> {{message}}<br>
        <p style="font-size: 10px;">{{time}}</p>
      </div>
    </div>
  </div>

  {{/each}}
</template>

<template name="input">
  <div class="row">
    <div class="col-xs-9">
      <input type="text"  class="form-control" id="message">
    </div>
    <div class="col-xs-2">
      <button class="btn btn-default submit-chat">Submit</button>
    </div>
  </div>
</template>
