<template name="home">
    {{> slideMenu}}
    <button type="button" id="btnRespNav" class="btn-navbar navbar-toggle slideout-menu-toggle pull-left" data-toggle="collapse" data-target="#login-navbar-collapse"><i class="fa fa-bars"></i>
    </button>
    <div class="text-center bg-berlin">
      <p class="hoodtitle">hoodguide</p><br>
    </div>
    <div class="container">
      <h3 align="center">Herzlich Willkommen {{currentUser.services.facebook.first_name}}</h3><br>
      <label for="sel1">Select Hood:</label>
      <select class="form-control" id="selectHood">
        <option>Select Hood and then your districts</option>
        {{#each hood}}
          <option>{{hoodValue.name}}</option>
        {{/each}}
      </select> <br>
    </div>
    <div class="map-container">
      {{> googleMap name="exampleMap" options=exampleMapOptions}}
    </div>
</template>
