<Template name="logout">
  <div class="text-center bg-berlin">
    <p class="hoodtitle">hoodguide </p><br>
  </div>
  <br>
  <div class="container">
    <h4 class="text-center"> <strong>Auf wiedersehen</strong></h4>
      <br>
      <h5>Durch unsere App kannst du Berlin auf einer ganz neue Art kennen lernen.
      Hierzu fehlt nur noch ein einziger Schritt:
      Logge dich ganz einfach mit deinem Facebook-Account und Los gehts :D</h5>
      <br>
    <a href="/" class="btn btn-primary text-center">Wieder einloggen</a>
  </div>
</Template>
