<!--/.slideout-menu-->
<template name="menuItems">
  <div class="slideout-menu">
    <h3>Menu<a href="#" class="slideout-menu-toggle">X</a></h3>
    <ul>
      <li role="presentation"><a href="/home">Home <i class="fa fa-angle-right"></i></a></li>
       <li role="presentation"><a href="/chatlist">Nachrichten<i class="fa fa-angle-right"></i></a></li>
       <li role="presentation"><a href="/yourprofile">Dein Profil<i class="fa fa-angle-right"></i></a></li>
        <li role="presentation"><a href="/search">Guide suchen<i class="fa fa-angle-right"></i></a></li>
       <li role="presentation"><a href="/settings">Einstellungen<i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>
</template>
