<!--/.slideout-menu-->
<template name="menuItems">
  <div class="slideout-menu">
    <h3>Menu<a href="#" class="slideout-menu-toggle">X</a></h3>
    <ul>
      <li><a href="/">Home <i class="fa fa-angle-right"></i></a></li>
       <li role="presentation"><a href="/chatlist">Nachrichten<i class="fa fa-angle-right"></i></a></li>
       <li role="presentation"><a href="/editprofile">Profil bearbeiten<i class="fa fa-angle-right"></i></a></li>
       <li role="presentation"><a href="/settings">Einstellungen<i class="fa fa-angle-right"></i></a></li>
       <li role="presentation"><a href="#" id="logout">Logout<i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>
</template>
