<template name="yourprofile">
  {{> slideMenu}}
  <button type="button" id="btnRespNav" class="btn-navbar navbar-toggle slideout-menu-toggle pull-left" data-toggle="collapse" data-target="#login-navbar-collapse"><i class="fa fa-bars"></i>
  </button>
  <div class="text-center bg-berlin">
    <p class="hoodtitle">Dein Profil</p><br>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-7 col-md-7">
        <br>
        <img style="background-image:
               url('http://graph.facebook.com/{{currentUser.services.facebook.id}}/picture/?type=large');"  class="fb-image-semi animated fadeIn">
        <br>
        <h4>Profilinfo</h4>
        <div class="row">
          <div class="col-xs-4 col-md-4"><b>Name:</b></div>
          <div class="col-xs-7 col-md-7">{{dataUser.username}}</div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-4"><b>Alter:</b></div>
          <div class="col-xs-7 col-md-7">{{age}} Jahre</div>
        </div>
        {{#if equals dataUser.type 'GUIDE'}}
          <div class="row">
            <div class="col-xs-4 col-md-4"><b>Bezirk:</b></div>
            <div class="col-xs-7 col-md-7">{{dataUser.hood}}</div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-md-4"><b>Ortsteile:</b></div>
            <div class="col-xs-7 col-md-7">{{dataUser.districts}}</div>
          </div>
        {{/if}}
        <div class="row">
          <div class="col-xs-10 col-md-10 bg-grey">
          <i>"{{dataUser.description}}"</i>
          </div>
        </div>
        <br>
        <div class="row">
          <a class="btn btn-primary" href="/editprofile">Profil bearbeiten</a>
        </div>
      </div>
      <div class="col-xs-5 col-md-5">
        <br>
        <h4>Bewertungen</h4>
        {{#if reviews}}
          {{#each reviews}}
          <div class="border">
            {{#if equals this.starsCount '1'}}
              <p>{{> starsRating rating='1' id='rating' class='mystar'}}</p>
            {{/if}}
            {{#if equals this.starsCount '2'}}
              <p>{{> starsRating rating='2' id='rating' class='mystar'}}</p>
            {{/if}}
            {{#if equals this.starsCount '3'}}
              <p>{{> starsRating rating='3' id='rating' class='mystar'}}</p>
            {{/if}}
            {{#if equals this.starsCount '4'}}
              <p>{{> starsRating rating='4' id='rating' class='mystar'}}</p>
            {{/if}}
            {{#if equals this.starsCount '5'}}
              <p>{{> starsRating rating='5' id='rating' class='mystar'}}</p>
            {{/if}}
            <i>"{{this.description}}"</i><br>
            &ndash; von {{this.from_username}}
            {{#if this.fb_post_id}}
              <br><br>
              <textarea class="form-control" rows="1" id="fb_post" style="display:none;">{{this.fb_post_id}}</textarea>
              <p><a class="btn btn-facebook" id="likeButton"><i class="fa fa-thumbs-o-up"></i> Like</a></p>
            {{/if}}
          </div>
          {{/each}}
        {{else}}
          <p class="text-muted"><i>Noch keine Bewertungen</i></p>
        {{/if}}

        <br>
      </div>
    </div>
    <br><br>
    <h4>Bilder</h4>
    <div id="gallery">
      {{#if images}}
        {{#each images}}
          <a href="/img/{{this.path}}" class="swipebox">
              <img src="/img/{{this.path}}" class="swipebox">
          </a>
        {{/each}}
      {{else}}
        <p class="text-muted"><i>Noch keine Bilder vorhanden</i></p>
      {{/if}}
    </div>
    <br><br>
    {{#if equals dataUser.type 'GUIDE'}}
      <h4>Route</h4>
      <div id="mapRoute"></div>
      <div id="directions-panel"></div>
      {{#if routes}}
        <br><br><a href="/route" class="btn btn-primary">Route bearbeiten</a>
      {{else}}
        <br><br><a href="/route" class="btn btn-primary">Route erstellen</a>
      {{/if}}
    {{/if}}
  </div>
  <br><br>
</template>


<template name="profile">
  {{> slideMenu}}
  <button type="button" id="btnRespNav" class="btn-navbar navbar-toggle slideout-menu-toggle pull-left" data-toggle="collapse" data-target="#login-navbar-collapse"><i class="fa fa-bars"></i>
  </button>
  <div class="text-center bg-berlin">
    <p class="hoodtitle">{{touristdata.username}}</p><br>
  </div>
  <div class="container">
    <div id="fb-root"></div>
    <div class="row">
      <div class="col-xs-7 col-md-7">
        <br>
        <img style="background-image:
               url('http://graph.facebook.com/{{touristdata.userId}}/picture/?type=large');"  class="fb-image-semi animated fadeIn">
        <br>
        <h4>Profilinfo</h4>
        <div class="row">
          <div class="col-xs-4 col-md-4"><b>Name:</b></div>
          <div class="col-xs-7 col-md-7">{{touristdata.username}}</div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-4"><b>Alter:</b></div>
          <div class="col-xs-7 col-md-7">{{age}} Jahre</div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-4"><b>Bezirk:</b></div>
          <div class="col-xs-7 col-md-7">{{touristdata.hood}}</div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-4"><b>Ortsteile:</b></div>
          <div class="col-xs-7 col-md-7">{{touristdata.districts}}</div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-md-10 bg-grey">
          <i>"{{touristdata.description}}"</i>
          </div>
        </div>

      </div>
      <div class="col-xs-5 col-md-5">
        <br>
        <h4>Bewertungen</h4>
        {{#if review}}
          {{#each review}}
          <div class="border">
            {{#if equals this.starsCount '1'}}
              <p>{{> starsRating rating='1' id='rating' class='mystar'}}</p>
            {{/if}}
            {{#if equals this.starsCount '2'}}
              <p>{{> starsRating rating='2' id='rating' class='mystar'}}</p>
            {{/if}}
            {{#if equals this.starsCount '3'}}
              {{> starsRating rating='3' id='rating' class='mystar'}}<br>
            {{/if}}
            {{#if equals this.starsCount '4'}}
              <p>{{> starsRating rating='4' id='rating' class='mystar'}}</p>
            {{/if}}
            {{#if equals this.starsCount '5'}}
              <p>{{> starsRating rating='5' id='rating' class='mystar'}}</p>
            {{/if}}
            <i>"{{this.description}}"</i><br>
            &ndash; von {{this.from_username}}
          </div>
          {{/each}}
        {{else}}
          <p class="text-muted"><i>Noch keine Bewertungen</i></p>
        {{/if}}
        <br>
        <a href="/rate/{{touristdata.userId}}" class="btn btn-primary" data-value="{{touristdata.userId}}"><i class="fa fa-star"></i> Bewerten</a>
        <a href="/chat/{{touristdata.userId}}" class="sendMessage btn btn-primary" data-value="{{touristdata.userId}}"><i class="fa fa-envelope"></i> Nachricht</a>

      </div>
    </div>

    <h4>Bilder</h4>
    <div id="gallery">
      {{#if images}}
        {{#each images}}
          <a href="/img/{{this.path}}" class="swipebox">
              <img src="/img/{{this.path}}" class="swipebox">
          </a>
        {{/each}}
      {{else}}
        <p class="text-muted"><i>Noch keine Bilder vorhanden</i></p>
      {{/if}}
    </div>
    <br><br>
    {{#if equals touristdata.type 'GUIDE'}}
      <h4>Route</h4>
      {{#if routes}}
      <div id="mapRoute"></div>
      <div id="directions-panel"></div>
      {{else}}
        <p class="text-muted"><i>Noch keine Route vorhanden</i></p>
      {{/if}}
    {{/if}}

  </div>
</template>
