<template name="search_guide">
  {{> slideMenu}}
  <button type="button" id="btnRespNav" class="btn-navbar navbar-toggle slideout-menu-toggle pull-left" data-toggle="collapse" data-target="#login-navbar-collapse"><i class="fa fa-bars"></i>
  </button>
  <div class="text-center bg-berlin">
    <p class="hoodtitle">Guide finden</p><br>
  </div>
  <div class="container">
    {{userdataExists}}
    {{> guides }}
  </div>
</template>

<template name="guides">
  <br>
  <select class="form-control" id="selectHood">
    <option selected>Nach Bezirk filtern</option>
  {{#each hood}}
    <option value="{{_id}}">{{hoodValue.name}}</option>
  {{/each}}
</select>

  {{#each allTourists}}
  {{#if equals this.userId dataUser.userId}}
      <!-- Don't show actual user -->
  {{else}}
    {{#if equals this.type 'GUIDE'}}
      <div class="bg-grey">
        <div class="row">
          <div class="col-xs-2">
            <img style="background-image:
                   url('http://graph.facebook.com/{{this.userId}}/picture/?type=large');"  class="fb-image-small animated fadeIn">
          </div>
          <div class="col-xs-10">
            <strong><a href="/profile/{{this.userId}}" class="showprofile" data-value="{{this.userId}}">{{this.username}}</a></strong><br>
            {{this.hood}}<br>
            <i>{{this.districts}}</i>
          </div>
        </div>
      </div>
    {{/if}}
  {{/if}}

  {{/each}}

</template>
