/* CSS declarations go here */
.btn-primary{
  background-color:#006b66;
  color: #FFFFFF !important;
  margin:4px;
}
.btn-primary:hover {
  background-color:#29b5aa;
  border-color: #24A299;
  margin:4px;
}
#map {
   height: 450px;
   float: left;
   width: 100%;
 }
 #mapRoute {
  height: 450px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.colorGreen{
  color: #29b5aa;
}
.btn-primary:active {
  background-color:#006b66;
  border-color: #24A299;
  margin:4px;
}
.btn-primary:visited {
  background-color:#006b66;
  border-color: #24A299;
  margin:4px;
}
.btn-info{
  background-color:#24A299 !important;
}
.navbar{
  padding: 5px;
}
.bg-grey{
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
.mtl {
  margin-top: 10px;
}

.mbh {
  margin-bottom: 20px;
}
.divider{
  margin: 10px 2px 10px 2px;
  border-bottom: 1px solid #29B5AA;
}

.divider_grey{
  border-bottom: 1px solid #BCBCBC;
  padding-top: 5px;
  padding-bottom:5px;
}
.bg-berlin {
  background: url('/img/berlinheader.png') center center no-repeat;
  background-size: cover;
  width: 100%;
  padding: 10px;
  background-color: #F1F1F1;
  border-bottom: 1px solid #BCBCBC;
}

.border{
  border: 1px solid #F1F1F1;
  border-radius: 3px;
  padding:5px;
}
/* FONT*/
.hoodtitle {
    font-family: 'Chalkduster';
    font-size: 30px;
    color:#006b66;
    margin-top: 10px;
}

.fb-image{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-position: center;
  border: 1px solid #BCBCBC;
}

.fb-image-semi{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin:5px;
  background-position: center;
  border: 1px solid #BCBCBC;
}

.fb-image-small{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: auto 60px;
  border: 1px solid #BCBCBC;
}

/* Menu Symbol */
#btnRespNav{
  display:block;
  font-size: 35px;
  background-color: transparent;
  border-style: none;
}

/* Menu */
.slideout-menu li a{
    color: #ffffff !important;
    margin-left: -35px;
}

.slideout-menu ul, li{
  border-style: none !important;
}

.slideout-menu{
  margin-top: 0;
  background-color:#007772 !important;
}

.slideout-menu a:hover{
  background-color:#29b5aa !important;
}

a:link,
a:visited,
a:hover,
a:active {
   color:#006b66;
}

h4{
  color: #006b66;
  margin-top: 15px;
  margin-bottom: 15px;
}

#facebook-login{
  margin: 6px;
  width:97%;
}
/* Google Maps */
#map {
  width: 400px;
  height: 450px;
}

.mystar .current-rating {
  color: #29b5aa;
}

.mystar .active {
  color: #006b66;
}

.slideout-menu .slideout-menu-toggle{
  background: none !important;
  color:#e5e5e5;

}

.slideout-menu-toggle:hover {
  border-radius: 50% !important;
}

.color-fb, .color-fb a{
  color: #3B5998;
}
